{% extends "layout.html" %}
{% block content %}

<form class="form-horizontal" action="{{ url_for('del_gender') }}" method = "post">
<fieldset>
<!-- Form Name -->
<legend>DELETE Student</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="gender">Gender:</label>

    <select id="gender" name="gender" class="form-control">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
 
</div>

</fieldset>
</form>
{% endblock content %}
